body {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.5); 
    backdrop-filter: blur(10px);
    z-index: -1;
}

.login-container {
    background-image: url('../assets/Fondo_Login.jpg');
    background-size: 80% auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #434d56c4;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-right: 25rem;
    text-align: right;
}

.login-box img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 4.5rem;
}

.input-group {
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 8px 40px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}

.input-group input::placeholder {
    color: #aaa;
    opacity: 1;
}

.input-group .iconuser {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/circulo-de-usuario.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.input-group .iconlock {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-image: url('../assets/candado_icono.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
}

.input-group input:focus + .iconuser,
.input-group input:focus + .iconlock {
    display: none;
}

.login-box button {
    width: 100%;
    padding: 6px 12px;  
    background-color: #9c9c9c;
    color: white;
    border: none;
    border-radius: 20px; 
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 1rem;
    font-size: .8rem; 
}

.login-box button:hover {
    background-color: #7a7a7a;
    box-shadow: none;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

.links-container a {
    color: white;
    text-decoration: none;
    font-size: 0.75rem;
    text-align: center;
}

.links-container a:hover {
    text-decoration: underline;
}