.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #2E3B44;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar-top {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-image {
    background-image: url('../assets/logo_blanco.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    width: 200px; 
    height: 130px; 
    margin: 0 auto; 
  }
  
  .profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-icon {
    background-image: url('../assets/circulo-de-usuario-blanco.png'); 
    background-size: cover;
    width: 24px; 
    height: 24px;
    margin-right: 10px;
  }
  
  .username {
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-menu {
    flex: 1;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu li {
    margin-bottom: 15px;
  }
  
  .nav-link {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 40rem;
  }
  
  .nav-icon {
    background-image: url(../assets/pedidos.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .logout-section {
    margin-top: auto;
  }
  
  .logout-link {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logout-icon {
    background-image: url('../assets/salida.png'); 
    background-size: cover;
    width: 20px; 
    height: 20px;
    margin-right: 10px;
  }
  